# This workflow will promote whatever is at the tip of the staging channel to the live channel (production)

name: Manually Promote Staging to Production

on:
  # This allows you to manually trigger the workflow
  workflow_dispatch:
    # TODO mess with some input options maybe?
   inputs:
     version:
       description: '[Unused] Staging version to promote to production'
       type: string
       required: false

jobs:
  promote:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install firebase-tools
        run: npm install --save react

      - name: Input test
        run: echo ${{ github.event.inputs.version }}
    environment:
      name: production
      # Optional, adds a link in the workflow view
      url: https://insberr.com/
